/* font-family: 'Pattaya', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    background:  pink;
    padding: 3em;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
    color: brown;
    font-size: 2rem;
    letter-spacing: 0.175rem;
    margin-bottom: 0;
}
.subtitle{
    font-weight: 200;
    color: orange;
    font-size: .75rem;
    letter-spacing: 0.2em;
    margin-top: 0;
    text-shadow:.03em .03em .04em  dimgrey ;

}

nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 1.8em;

}

nav ul li{
    margin: 0 1em;
}

nav a{
    text-decoration: none;
    color: saddlebrown;
    font-weight: 700;
    padding: .25em 0;
    letter-spacing: 0.1rem;
}

nav a:hover,
nav a:focus{
    color: white;
    text-shadow: 0.1rem 0.1rem 0.2rem grey;
}
@media (min-width: 980px ) {
    .container-nav{
        display: flex;
        justify-content: space-between;
    }
    nav ul li{
        margin-right: 2em;
        margin-left: 2em;
    }
}
@media(max-width:500px){
    nav ul{
        flex-direction: column;
    }
  nav ul li{
    margin-top: 1.5em;
    }

}